.header
{
    background-image: url("../../../assets/Images/bg-header.png");
    height: 827px;	
    width: 100%;	
}

p
{
    font-family: $mainFont;
}

h1, h2, h3, h4, h5
{
    font-family: $titleFont;
}