$white: rgb(245, 245, 245);
$grey:rgba(96,96,96,0.7);

$small: 14px;
$medium: 1em;
$big: 2.5em;

$blockBig: 966px;
$blockMedium: 700px;
$blockSmall: 400px;

$mediumBtn: 220px;

$greenWhite:#1ABC9C;
$green: #2ECC71;
$colorFooter: #34495E;

$titleFont:'Montserrat', sans-serif;
$mainFont: 'Poppins', sans-serif;