.table {
    width: 70%;
    height: 50%;
}  

.table td, .table th {
    padding: 0.20rem;
}

.customBlock
{
    margin-top: 10px;
 }

.customMargin
{
    margin-top: 1.5%;
    margin-bottom: 5%;
}

#customSize
{
    height: 240px;
    width: 500px;
}

.customSizeTable
{
    width: 100%;
}

.selectValueClient:hover
{
    cursor: pointer;
    background-color: grey;
}
.btnCRUD
{
    padding: 5px;
    background-color: transparent;
    font-size: 0.8em;
}
.btnUpdate
{
    color: #ffc107;
}
.btnSuppr
{
    color: #c82333;
}

.noneBorder
{
    border-style: none;
}
.btnSuccess
{
    color: #218838;
}