<div class="main">
  <div class="dashHeader dashHeader-color">
    <div class="center">
      <nav>
        <a style="text-decoration: none;" routerLink="/" routerLinkActive="active">
          <img class="dashHeader-logo" src="../../../assets/Images/LOGO BIG.svg" alt="">
        </a>
      </nav>
    </div>
  </div>

  <div *ngIf="updateFormView == false && client" class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">
    <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Client : {{ client.name }}</p>

    <table class="table center-element customSizeTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nom</th> 
          <th scope="col">Adresse</th>
          <th scope="col">Contact</th>
          <th scope="col">Mail</th>
          <th scope="col">Téléphone</th>
          <th scope="col">-</th>
          <th scope="col">-</th>
        </tr>
      </thead>
      <tbody>
        <tr class="selectValueClient">
          <td>{{ client.name }}</td>
          <td>{{ client.address }}</td>
          <td>{{ client.contact }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td>
              <button type="button" class="btn btn-warning btnCRUD btnUpdate" (click)="updateView(client._id)">Modifier</button>
          </td>
          <td>
              <button type="button" class="btn btn-danger btnCRUD btnSuppr" (click)="deleteClient(client._id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="updateFormView" class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">
      <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Modifier les informations client</p>
      <form (ngSubmit)="updateClientForm()">
          <table class="table center-element customSizeTable">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Contact</th>
                <th scope="col">Mail</th>
                <th scope="col">Téléphone</th>
                <th scope="col">-</th>
                <th scope="col">-</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input class="noneBorder" type="text" placeholder="Nom" [(ngModel)]="updateClient.name" name="name" required>
                </td>
                <td>
                  <input class="noneBorder" type="text" placeholder="Adresse" [(ngModel)]="updateClient.address" name="address" required>
                </td>
                <td>
                  <input class="noneBorder" type="text" placeholder="Contact" [(ngModel)]="updateClient.contact" name="contact" required>
                </td>
                <td>
                  <input class="noneBorder" type="text" placeholder="Mail" [(ngModel)]="updateClient.email" name="email" required>
                </td>
                <td>
                  <input class="noneBorder" type="text" placeholder="Téléphone" [(ngModel)]="updateClient.phone" name="phone" required>
                </td>
                <td>
                    <button class="btn btn-danger btnCRUD btnSuppr" (click)="cancelUpdateView()">Annuler</button>
                  </td>
                <td>
                  <button type="submit" class="btn btn-success btnCRUD btnSuccess">Modifier</button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
    </div>   
    
</div>