<!-- <header>
  <div class="header">
    <div class="childHeader">
      <div class="center">
        <h3 id="h3Header">
            Votre plateforme de reporting de dataviz
        </h3>
        <img id="logoBig" src="../../../assets/Images/LOGO BIG.svg" alt="">

        <button id="btnHeader">SOYER LES PREMIERS</button>
      </div>
      <button id="btnRightHeader">E X P L O R E </button>

      <div id="tableBtn">
        <table>
          <td>
            <button class="btnLeftHeader">X</button>
          </td>
          <td>
            <button class="btnLeftHeader">X</button>
          </td>
          <td>
            <button class="btnLeftHeader">X</button>
          </td>
        </table>
      </div>
    -->
      <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/header" routerLinkActive="active">Header</a>
      </nav> 
  
  <!--
    </div>
  </div>
</header>
<body>
  <div id="body">
    <div class="center">
      <button id="btnBody">Voici WeAreData</button>
      <p>Application de dataviz financière pour les PME</p>
    </div>
  </div>
</body> -->
