

#logoBig
{
    width: 650px;
}
#h3Header 
{
    font-family: 'Montserrat', sans-serif;
}
#btnHeader
{
    margin-top: 10%;
    color: white;  
    font-weight: bold; 
    height: 55px;	
    width: 270px;	
    border: 2px solid #2091DC;	
    border-radius: 27.5px;	
    background-color: #2091DC;	
    box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    cursor: pointer;
}
#btnRightHeader
{
    font-weight: bold;
    color: white;
    height: 55px;	
    width: 199px;	
    border: 2px solid #FFFFFF;	
    border-radius: 27.5px;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-right: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}

.btnLeftHeader
{
    color: white;
    height: 50px;	
    width: 50px;	
    background-color: transparent;
    cursor: pointer;
    border-radius: 100%;
    margin-left: 3%;
}

#tableBtn
{
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 5%;
    margin-bottom: 3%;
}

#body
{
    position: relative;
    background-color: #2091DC;
    margin-left: -0.6%;
    margin-top: -0.7%;
    height: 827px;	
    width: 101.3%;	
    color: white;
}

#btnBody
{
    color: white;
    height: 63px;	
    width: 301px;	
    border: 4px solid #FFFFFF;
    background-color: transparent;
}