<div class="main">
  <div class="dashHeader dashHeader-color">
    <div class="center">
      <nav>
        <a style="text-decoration: none;" routerLink="/" routerLinkActive="active">
          <img class="dashHeader-logo" src="../../../assets/Images/LOGO BIG.svg" alt="">
        </a>
      </nav>
    </div>
  </div>

  <div class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">

    <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Statistiques</p>

    <div class="center-element block block-big block-align-flex block-align-flex-space-between customMargin">
      <div id="customSize" class="block block-small">
        <canvas #canvas>{{ chart }}</canvas>
      </div>
      <div id="customSize" class="block block-small">
        <canvas #canvas2>{{ radar }}</canvas>
      </div>
    </div>

  </div>
