
  <div class="header">
    <div class="header-child">
        <!-- <button id="connexion" class="btn btn-round btn-space">Connexion</button> -->
        <nav>
            <button id="connexion" class="btn btn-round btn-space" routerLink="/login" routerLinkActive="active">Connexion</button>
            <button id="inscription" class="btn btn-round btn-space" routerLink="/subscribe" routerLinkActive="active">Inscription</button>
        </nav> 
      <div class="center">
        <h3 class="header-font">
            Votre plateforme de reporting de dataviz
        </h3>
        <img id="logoBig" src="../../../assets/Images/LOGO BIG.svg" alt="">
        <p class="txt txt-space txt-bold txt-upper header-font title txt-size-small">démocratisez l'accès à vos données d'entreprise</p>
        <button id="btnHeader" class="btn btn-round">soyez les premiers</button>
      </div>
      <button id="btnRightHeader" class="btn btn-round btn-space">explore</button>

      <div id="tableBtn">
        <table>
          <td>
            <button class="btnLeftHeader btn btn-round"><i class="fab fa-facebook-f"></i></button>
          </td>
          <td>
            <button class="btnLeftHeader btn btn-round"><i class="fab fa-twitter"></i></button>
          </td>
          <td>
            <button class="btnLeftHeader btn btn-round"><i class="fab fa-linkedin-in"></i></button>
          </td>
        </table>
      </div>
  <!-- 
      <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/header" routerLinkActive="active">Header</a>
      </nav> -->
    </div>
  </div>

<div id="body">
  <div class="center block block-big">
    <button id="btnBody" class="btn btn-square ">Voici WeAreData</button>
    
    <p class="txt txt-space txt-bold txt-upper header-font title txt-size-big block-margin-top10">Application de dataviz financière pour les PME</p>
    <p class="font-family-poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="block block-align block-align-flex block-align-flex-space-between block-margin-top10">
      <div class="font-family-poppins">
        <img src="../../../assets/Images/icon1.svg" alt="">
        <p>Vos reporting centralisés</p>
      </div>
      <div class="font-family-poppins">
        <img src="../../../assets/Images/icon2.svg" alt="">
        <p>Le suivi de vos activités en temps réel</p>
      </div>
      <div class="font-family-poppins">
        <img src="../../../assets/Images/icon3.svg" alt="">
        <p>Un gain de temps pour le pilotage</p>
      </div>
      <div class="font-family-poppins">
        <img src="../../../assets/Images/icon4.svg" alt="">
        <p>Des utilitaires pour votre entreprise</p>
      </div>
    </div>
  </div>
</div>

<div class="block block-fullblock block-fullblock-white">
    <div class="center block block-big">
      <div class="block block-float-left block-small txt txt-align-left">
        <p class=" title title-subTitle txt txt-space txt-bold txt-upper">Comment ça marche ?</p>
        <h1>Vos reporting d’entreprise réuni sur une seule application</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="block block-float-right block-small txt txt-align-left">
        <div class="block block-align-flex block-align-flex-start adapteurPos">
            <div class="block block-round block-size50 txt txt-align-center txt-align-vertical block-margin-right5">
              <div class="nbCenter">1</div>
            </div>
            <h3>Pluguer vos données</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <div class="block block-align-flex block-align-flex-start adapteurPos">
            <div class="block block-round block-size50 txt txt-align-center txt-align-vertical block-margin-right5 customRound">
                <div class="nbCenter">2</div>
              </div>
            <h3>Laisser tourner notre application</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <div class="block block-align-flex block-align-flex-start adapteurPos">
            <div class="block block-round block-size50 txt txt-align-center txt-align-vertical block-margin-right5">
                <div class="nbCenter">3</div>
            </div>
            <h3>Customiser vos reporting</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      </div>
    </div>
</div>

<div class="block block-fullblock block-secondMain">
  <div class="center block block-big block-big-white">
<form>
    <p class=" title title-subTitle txt txt-space txt-bold txt-upper">offre de lancement</p>
    <p class="txt txt-bold"> inscrivez-vous et recevez prochainement un accès premium à l’application WeAreData</p>

    <div id="formulaire" class="block  block-big block-position-relative">
    
      <div class="block block-float-left block-small txt txt-align-left">
        <p class="txt txt-bold txt-upper">Nom</p>
        <input type="text" class="input" id="nom" required>
         <!-- <input type="text" name="code" required> -->

        <p class="txt txt-bold txt-upper">Société</p>
        <input type="text" class="input"  id="societe" required>

        <p class="txt txt-bold txt-upper">Mail</p>
        <input type="text" class="input"  id="mail" required>
      </div>

      <div class="block block-float-right block-small txt txt-align-left">
        <p class="txt txt-bold txt-upper">Prénom</p>
        <input type="text" class="input" id="prenom"  required>

        <p class="txt txt-bold txt-upper">Siret</p>
        <input type="text" class="input"  id="siret" required>

        <p class="txt txt-bold txt-upper">Téléphone</p>
        <input type="text" class="input" id="tel"  required>
      </div> 

    
    </div>

    <div class="block block-margin-left10 block-float-left txt txt-align-left block-align-flex block-align-flex-start">
      <div class="checkBox"></div>
      <p id="txtCheckBox">Je souhaite être informé des prochaines actualités de WeAreData</p>
    </div> 

    <button type="submit" id="btnFormulaire" class="btn btn-square btn-color-green btn-medium">soyez les premiers</button>
  </form>
  </div>
</div>

<div class="footer footer-color">
  <img id="footerlogo" src="../../../assets/Images/LOGO BIG.svg" alt="">
  <p class="center txt txt-space txt-upper txt-white">Copyright 2018</p>
  <div id="tableBtnRight">
      <table>
        <td>
          <button class="btnLeftHeader btn btn-round"><i class="fab fa-facebook-f"></i></button>
        </td>
        <td>
          <button class="btnLeftHeader btn btn-round"><i class="fab fa-twitter"></i></button>
        </td>
        <td>
          <button class="btnLeftHeader btn btn-round"><i class="fab fa-linkedin-in"></i></button>
        </td>
      </table>
    </div>
</div>
