

.childHeader
{
    position: relative;
    height: 827px;	
    width: 100%;	
    background-color: rgba(96,96,96,0.7);
    font-size: 25px;
}
#logoBig
{
    width: 650px;
}

#btnHeader
{
    margin-top: 10%;
    height: 55px;	
    width: 270px;	
    border: 2px solid #2091DC;	
    background-color: #2091DC;	
    box-shadow: 2px 3px 7px 0 rgba(75,75,75,0.5);
    cursor: pointer;
}
#btnRightHeader
{
    height: 55px;	
    width: 199px;	
    border: 2px solid #FFFFFF;	
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-right: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}

.btnLeftHeader
{
    height: 50px;	
    width: 50px;	
    background-color: transparent;
    cursor: pointer;
    margin-left: 3%;
    border: 1px solid white;
}

#tableBtn
{
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-left: 5%;
    margin-bottom: 3%;
}

#body
{
    position: relative;
    background-color: #2091DC;
    height: 827px;	
    width: 100%;	
    color: white;
}

#btnBody
{

    border: 4px solid #FFFFFF;
    background-color: transparent;
}

.nbCenter
{
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.adapteurPos
{
    margin-left: -19%;
}

#formulaire
{
    margin-left: 7%;
}


.checkBox
{
    height: 26px;	
    width: 26px;	
    border: 3px solid #E74C3C;	
    border-radius: 4px;
    margin-top: 2%;
    margin-left: -5%;
}

#txtCheckBox
{
    margin-left: 1%;
}

#btnFormulaire
{
    margin: 5%;
}

#tableBtnRight
{
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-right: 5%;
    margin-bottom: 3%;
}

#footerlogo
{
    position: absolute;
    bottom: 38px;
    left: 33px;
    margin-right: 5%;
    margin-bottom: 3%;
    width: 22%;
}


.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


#connexion
{
    height: 40px;
    width: 152px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 3%;
    margin-right: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}

#inscription
{
    height: 40px;
    width: 152px;
    border: 2px solid #FFFFFF;
    background-color: #93e5b6;
    position: absolute;
    right: 170px;
    top: 3%;
    margin-right: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}

.customRound
{
    width: 60px;
}