<div class="block block-fullblock block-secondMain">
  <div id="mainLogin" class="center block block-big block-big-white">
    <!-- <p class="txt txt-bold"> inscrivez-vous et recevez prochainement un accès premium à l’application WeAreData</p> -->

    <div id="formulaire" class="block  block-big">
      <form (ngSubmit)="subForm()">
      <div class="block block-small txt center-element">
        <p class=" title title-subTitle txt txt-space txt-bold txt-upper">Création de votre compte utilisateur</p>

        <div class="center-element block block-medium block-align-flex block-align-flex-between">
          <div class="block block-small txt ">
            <p class="txt txt-bold txt-upper">Nom</p>
            <input type="text" class="input"  [(ngModel)]="subscribe.firstName" name="firstName" required>

            <p class="txt txt-bold txt-upper">Prénom</p>
            <input type="text" class="input" [(ngModel)]="subscribe.lastName" name="lastName" required>

            <p class="txt txt-bold txt-upper">Email</p>
            <input type="mail" class="input" [(ngModel)]="subscribe.email" name="email" required>

            <p class="txt txt-bold txt-upper">Mot de passe</p>
            <input type="password" class="input" [(ngModel)]="subscribe.password" name="password" required>

            <p class="txt txt-bold txt-upper">Téléphone</p>
            <input type="text" class="input" [(ngModel)]="subscribe.phone" name="phone" required>
          </div>

          <div class="block block-small txt">
            <p class="txt txt-bold txt-upper">Fonction</p>
            <input type="text" class="input" [(ngModel)]="subscribe.role" name="role" required>

            <p class="txt txt-bold txt-upper">Adresse du siège</p>
            <input type="text" class="input" [(ngModel)]="subscribe.address" name="address" required>

            <p class="txt txt-bold txt-upper">Ville</p>
            <input type="text" class="input" [(ngModel)]="subscribe.city" name="city" required>

            <p class="txt txt-bold txt-upper">Code postal</p>
            <input type="text" class="input" [(ngModel)]="subscribe.zipCode" name="zipCode" required>

            <p class="txt txt-bold txt-upper">Site Web</p>
            <input type="text" class="input" [(ngModel)]="subscribe.webSite" name="webSite" required>
          </div>

        </div>
      </div>

      <button type="submit" id="btnFormulaire" class="btn btn-round btn-color-green btn-medium">Connexion</button>
    </form>
    </div>
  </div>

</div>