<div class="block block-fullblock block-secondMain">
  <div id="mainLogin" class="center block block-big block-big-white">
    <!-- <p class="txt txt-bold"> inscrivez-vous et recevez prochainement un accès premium à l’application WeAreData</p> -->

    <div id="formulaire" class="block  block-big">
      <div class="block block-small txt center-element">
        <p class=" title title-subTitle txt txt-space txt-bold txt-upper">Connexion</p>

        <form (ngSubmit)="logForm()">
          <p class="txt txt-bold txt-upper">Email</p>
          <input type="text" class="input" [(ngModel)]="loginForm.email" name="username" placeholder="email"
            required>
          <!-- <input type="text" name="code" required> -->

          <p class="txt txt-bold txt-upper">Mot de passe</p>
          <input type="password" class="input" [(ngModel)]="loginForm.password" name="passwd" placeholder="Mot de passe"
            required>

          <div id="refSub" class="txt txt-bold txt-upper">
            <nav>
              <a style="text-decoration: none;" routerLink="/subscribe" routerLinkActive="active">Vous n'avez pas de
                compte ? Créez en un maintenant !
              </a>
            </nav>
          </div>

          <button type="submit" id="btnFormulaire" class="btn btn-round btn-color-green btn-medium">Connexion</button>
        </form>
      </div>
    </div>

  </div>
</div>
