.center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center
{
    &-element
    {
        position: relative;
        left:50%;
        transform: translate(-50%, 0%);
        text-align: center;
        top: 50%;
    }
}