.header
{
    background-image: url("../../../assets/Images/bg-header.png");
    height: 827px;	
    width: 100%;
    
    &-child
    {
        position: relative;
        height: 827px;	
        width: 100%;	
        background-color: $grey;
        // //font-size: 25px;
    }

    &-font 
    {
        font-family: 'Montserrat', sans-serif;
        color: $white;
    }
}

.dashHeader
{
    font-size: 13px;
    position: relative;
    height: 60px;
    width: 100%;
    z-index: 999;

    &-color
    {
        background-color: $colorFooter; 
    }

    &-logo
    {
        width: 50%;
    }

}


