.formAddClient
{
    margin-bottom: 2%;
}

.noneBorder
{
    border-style: none;
}

.btnCRUD
{
    padding: 5px;
    background-color: transparent;
    font-size: 0.8em;
}

.btnSuccess
{
    color: #218838;
}