<div class="main">
  <div class="dashHeader dashHeader-color">
    <div class="center">
      <nav>
        <a style="text-decoration: none;" routerLink="/" routerLinkActive="active">
          <img class="dashHeader-logo" src="../../../assets/Images/LOGO BIG.svg" alt="">
        </a>
      </nav>
    </div>
  </div>

  <div class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">
    <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Ajouter un nouveau client</p>
    <form (ngSubmit)="addClient()">
        <table class="table center-element customSizeTable formAddClient">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Adresse</th>
              <th scope="col">Contact</th>
              <th scope="col">Mail</th>
              <th scope="col">Téléphone</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#</th>
              <td>
                <input class="noneBorder" type="text" placeholder="Nom" [(ngModel)]="newClient.name" name="name" required>
              </td>
              <td>
                <input class="noneBorder" type="text" placeholder="Adresse" [(ngModel)]="newClient.address" name="address" required>
              </td>
              <td>
                <input class="noneBorder" type="text" placeholder="Contact" [(ngModel)]="newClient.contact" name="contact" required>
              </td>
              <td>
                <input class="noneBorder" type="text" placeholder="Mail" [(ngModel)]="newClient.email" name="email" required>
              </td>
              <td>
                <input class="noneBorder" type="text" placeholder="Téléphone" [(ngModel)]="newClient.phone" name="phone" required>
              </td>
              <td>
                <button type="submit" class="btn btn-success btnCRUD btnSuccess">Ajouter</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
  </div>    
  <div class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">
    <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Mes clients</p>

    <table class="table center-element customSizeTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Adresse</th>
          <th scope="col">Contact</th>
          <th scope="col">Mail</th>
          <th scope="col">Téléphone</th>
        </tr>
      </thead>
      <tbody>
        <tr class="selectValueClient" (click)="selectedClient(client._id)" *ngFor="let client of clients; let i = index">
          <th *ngIf="client.name" scope="row">{{ i+1 }}</th>
          <td *ngIf="client.name">{{ client.name }}</td>
          <td *ngIf="client.name">{{ client.address }}</td>
          <td *ngIf="client.name">{{ client.contact }}</td>
          <td *ngIf="client.name">{{ client.email }}</td>
          <td *ngIf="client.name">{{ client.phone }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">
      <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Toutes mes ventes</p>
  
      <table class="table center-element customSizeTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Client</th>
            <th scope="col">Article</th>
            <th scope="col">Prix HT</th>
            <th scope="col">TVA</th>
            <th scope="col">Prix TTC</th>
            <th scope="col">Quantité</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Secteur d'activité</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr class="selectValueClient" (click)="selectedClient(client._id)" *ngFor="let sell of sells; let i = index">
            <th *ngIf="sell.name" scope="row">{{ i+1 }}</th>
            <td *ngIf="sell.name">{{ sell.client }}</td>
            <td *ngIf="sell.name">{{ sell.name }}</td>
            <td *ngIf="sell.name">{{ sell.amountNoTax }} €</td>
            <td *ngIf="sell.name">{{ sell.TVARate }}</td>
            <td *ngIf="sell.name">{{ sell.amountWithTax }} €</td>
            <td *ngIf="sell.name">{{ sell.quantity }}</td>
            <td *ngIf="sell.name">{{ sell.categorySoldProducts }}</td>
            <td *ngIf="sell.name">{{ sell.activitySector }}</td>
            <td *ngIf="sell.name">{{ sell.sellDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>