<div class="main">
  <div class="dashHeader dashHeader-color">
    <div class="center">
      <nav>
        <a style="text-decoration: none;" routerLink="/" routerLinkActive="active">
          <img class="dashHeader-logo" src="../../../assets/Images/LOGO BIG.svg" alt="">
        </a>
      </nav>
    </div>
  </div>

  <div class="block block-rectangle block-rectangle-white block-card block-verticalAlign customBlock">

    <ul class="nav justify-content-center customNav center-element">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/clients" routerLinkActive="active">Mes Clients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stats" routerLinkActive="active">Statistics</a>
      </li>
    </ul>

    <p class=" title title-subTitle txt txt-space txt-bold txt-upper center-element">Mes informations personnelles</p>

    <table class="table center-element">
      <tbody>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Nom</th>
          <td class="title-subTitle">{{ user.firstName }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Prénom</th>
          <td class="title-subTitle">{{ user.lastName }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Email</th>
          <td class="title-subTitle">{{ user.email }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Téléphone</th>
          <td class="title-subTitle">{{ user.phone }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Fonction</th>
          <td class="title-subTitle">{{ user.role }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Adresse du siège</th>
          <td class="title-subTitle">{{ user.address }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Ville</th>
          <td class="title-subTitle">{{ user.city }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Code postal</th>
          <td class="title-subTitle">{{ user.zipCode }}</td>
        </tr>
        <tr>
          <th class="txt txt-bold txt-upper" scope="row">Site WEB</th>
          <td class="title-subTitle">{{ user.webSite }}</td>
        </tr>
      </tbody>
    </table>

    <div class="center-element block block-big block-align-flex block-align-flex-space-between customMargin">
      <div id="customSize" class="block block-small">
        <canvas #canvas>{{ chart }}</canvas>
      </div>
      <div id="customSize" class="block block-small">
        <canvas #canvas2>{{ radar }}</canvas>
      </div>
    </div>
  </div>
</div>