.block
{
    &-small
    {
        width: $blockSmall;
    }
    &-medium
    {
        width: $blockMedium;
    }
    &-big
    {
        width: $blockBig;
        &-white
        {
            background-color: $white;
        }
    }

    &-position
    {
        &-absolute{ position: absolute;}
        &-relative{ position: relative;}
    }

    &-align
    {
        &-flex
        {
            display: flex;
            &-space-between
            {
                justify-content: space-between;
            }
            &-start
            {
                justify-content: flex-start;
            }
            &-end
            {
                justify-content: flex-end;
            }
            
            &-center
            {
                justify-content: center;
            }
        }
    }
    &-margin
    {
        &-top10
        {
            margin-top: 10%;
        }
        &-right5
        {
            margin-right: 5%;
        }
        &-left10
        {
            margin-left: 10%;
        }
    }

    &-fullblock
    {
        position: relative;
        height: 827px;	
        width: 100%;	
        
        &-white
        {
            background-color: $white;
        }
    }
    &-float
    {
        &-right
        {
            float: right;
        }
        &-left
        {
            float: left;
        }
    }
    &-round{
        border-radius: 27.5px;
        background-color: $greenWhite;
    }
    &-size50
    {
        width: 50px;
        height: 50px;
    }

    &-secondMain
    {
        background-image: url("../../../assets/Images/BG.png");
        //height: 827px;	
        width: 100%;
    }

    &-rectangle
    {
        // position: absolute;
        // height: 300px;
        width: 95%;
          
        &-white
        {
            background-color: $white;
        } 
    }

    &-card
    {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    &-card:hover
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &-verticalAlign
    {
        margin: auto;
    }
}