.btn{
    text-transform: uppercase;
    color: $white;
    font-weight: bold;


    &-round{

        border-radius: 27.5px;
    }
    &-square{
        border-radius: 3px;
        padding: 20px;
    }
    &-color
    {
        border-style: none;
        
        &-green
        {
            background-color: $green;
        }
    }

    &-medium
    {
        width: $mediumBtn;
    }

}
    