.txt
{
    &-upper
    {
        text-transform: uppercase
    }
    &-space
    {
        letter-spacing: 4px;
    }
    &-bold
    {
        font-weight: bold;
    }
    &-align
    {
        &-center
        {
            text-align: center;
        }
        &-left
        {
            text-align: left;
        }
        &-right
        {
            text-align: right;
        }
        &-vertical
        {
            vertical-align: center;
        }
    }

    &-white
    {
        color: $white;
    }
}


.txt-size
{
    &-small
    {
        font-size: $small;     
    }
    &-medium
    {
        font-size: $medium;        
    }
    &-big
    {
        font-size: $big;       
    }
}