/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* line 1, ../sass/base/_base.scss */
.header {
  background-image: url("../../../assets/Images/bg-header.png");
  height: 827px;
  width: 100%;
}

/* line 8, ../sass/base/_base.scss */
p {
  font-family: "Poppins", sans-serif;
}

/* line 13, ../sass/base/_base.scss */
h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  background-image: url("../../../assets/Images/bg-header.png");
  height: 827px;
  width: 100%;
}
/* line 7, ../sass/layout/_header.scss */
.header-child {
  position: relative;
  height: 827px;
  width: 100%;
  background-color: rgba(96, 96, 96, 0.7);
}
/* line 16, ../sass/layout/_header.scss */
.header-font {
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
}

/* line 23, ../sass/layout/_header.scss */
.dashHeader {
  font-size: 13px;
  position: relative;
  height: 60px;
  width: 100%;
  z-index: 999;
}
/* line 31, ../sass/layout/_header.scss */
.dashHeader-color {
  background-color: #34495E;
}
/* line 36, ../sass/layout/_header.scss */
.dashHeader-logo {
  width: 50%;
}

/* line 1, ../sass/layout/_center.scss */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* line 11, ../sass/layout/_center.scss */
.center-element {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  top: 50%;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  font-size: 13px;
  position: relative;
  height: 200px;
  width: 100%;
}
/* line 8, ../sass/layout/_footer.scss */
.footer-color {
  background-color: #34495E;
}

/* line 1, ../sass/theme/_btn.scss */
.btn {
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bold;
}
/* line 7, ../sass/theme/_btn.scss */
.btn-round {
  border-radius: 27.5px;
}
/* line 11, ../sass/theme/_btn.scss */
.btn-square {
  border-radius: 3px;
  padding: 20px;
}
/* line 15, ../sass/theme/_btn.scss */
.btn-color {
  border-style: none;
}
/* line 19, ../sass/theme/_btn.scss */
.btn-color-green {
  background-color: #2ECC71;
}
/* line 25, ../sass/theme/_btn.scss */
.btn-medium {
  width: 220px;
}

/* line 3, ../sass/theme/_title.scss */
.title-subTitle {
  color: #1ABC9C;
  font-weight: bold;
}

/* line 3, ../sass/theme/_text.scss */
.txt-upper {
  text-transform: uppercase;
}
/* line 7, ../sass/theme/_text.scss */
.txt-space {
  letter-spacing: 4px;
}
/* line 11, ../sass/theme/_text.scss */
.txt-bold {
  font-weight: bold;
}
/* line 17, ../sass/theme/_text.scss */
.txt-align-center {
  text-align: center;
}
/* line 21, ../sass/theme/_text.scss */
.txt-align-left {
  text-align: left;
}
/* line 25, ../sass/theme/_text.scss */
.txt-align-right {
  text-align: right;
}
/* line 29, ../sass/theme/_text.scss */
.txt-align-vertical {
  vertical-align: center;
}
/* line 35, ../sass/theme/_text.scss */
.txt-white {
  color: whitesmoke;
}

/* line 44, ../sass/theme/_text.scss */
.txt-size-small {
  font-size: 14px;
}
/* line 48, ../sass/theme/_text.scss */
.txt-size-medium {
  font-size: 1em;
}
/* line 52, ../sass/theme/_text.scss */
.txt-size-big {
  font-size: 2.5em;
}

/* line 3, ../sass/theme/_block.scss */
.block-small {
  width: 400px;
}
/* line 7, ../sass/theme/_block.scss */
.block-medium {
  width: 700px;
}
/* line 11, ../sass/theme/_block.scss */
.block-big {
  width: 966px;
}
/* line 14, ../sass/theme/_block.scss */
.block-big-white {
  background-color: whitesmoke;
}
/* line 22, ../sass/theme/_block.scss */
.block-position-absolute {
  position: absolute;
}
/* line 23, ../sass/theme/_block.scss */
.block-position-relative {
  position: relative;
}
/* line 28, ../sass/theme/_block.scss */
.block-align-flex {
  display: flex;
}
/* line 31, ../sass/theme/_block.scss */
.block-align-flex-space-between {
  justify-content: space-between;
}
/* line 35, ../sass/theme/_block.scss */
.block-align-flex-start {
  justify-content: flex-start;
}
/* line 39, ../sass/theme/_block.scss */
.block-align-flex-end {
  justify-content: flex-end;
}
/* line 44, ../sass/theme/_block.scss */
.block-align-flex-center {
  justify-content: center;
}
/* line 52, ../sass/theme/_block.scss */
.block-margin-top10 {
  margin-top: 10%;
}
/* line 56, ../sass/theme/_block.scss */
.block-margin-right5 {
  margin-right: 5%;
}
/* line 60, ../sass/theme/_block.scss */
.block-margin-left10 {
  margin-left: 10%;
}
/* line 66, ../sass/theme/_block.scss */
.block-fullblock {
  position: relative;
  height: 827px;
  width: 100%;
}
/* line 72, ../sass/theme/_block.scss */
.block-fullblock-white {
  background-color: whitesmoke;
}
/* line 79, ../sass/theme/_block.scss */
.block-float-right {
  float: right;
}
/* line 83, ../sass/theme/_block.scss */
.block-float-left {
  float: left;
}
/* line 88, ../sass/theme/_block.scss */
.block-round {
  border-radius: 27.5px;
  background-color: #1ABC9C;
}
/* line 92, ../sass/theme/_block.scss */
.block-size50 {
  width: 50px;
  height: 50px;
}
/* line 98, ../sass/theme/_block.scss */
.block-secondMain {
  background-image: url("../../../assets/Images/BG.png");
  width: 100%;
}
/* line 105, ../sass/theme/_block.scss */
.block-rectangle {
  width: 95%;
}
/* line 111, ../sass/theme/_block.scss */
.block-rectangle-white {
  background-color: whitesmoke;
}
/* line 117, ../sass/theme/_block.scss */
.block-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* line 122, ../sass/theme/_block.scss */
.block-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* line 127, ../sass/theme/_block.scss */
.block-verticalAlign {
  margin: auto;
}

/* line 5, ../sass/theme/_font.scss */
.font-family-poppins {
  font-family: 'Poppins', sans-serif;
}

/* line 1, ../sass/theme/_input.scss */
.input {
  padding: 13px;
  border-radius: 4px;
  border: 2px solid grey;
  width: 60%;
}
